{% extends "layout.html" %} {% block content %}
<div class="mobileApp">
  <img src="" alt="Phone Icon" />
  Get Facebook for Andriod and browse faster.
</div>
<div class="signUp">
  <input type="text" placeholder="Mobile Number or Email" />
  <div class="passwordField">
    <input type="text" placeholder="Password" />
  </div>
  <form action="/login">
    <button id="logIn" type="submit">Log in</button>
  </form>
  <form action="/registration">
    <button id="newAccount" type="submit">Create New Account</button>
  </form>
    <div class="resetPassword">
      <a href="/reset">Forgot Password? Help Center</a>
    </div>
    </div>
  
</div>
<footer>
  <div class="fbTranslator">
    <ul>
      <li>English (US)</li>
      <li>Portugese</li>
      <li>Italian</li>
    </ul>
  </div>
  <div class="fbTranslator">
    <ul>
      <li>Español</li>
      <li>Chinese</li>
      <li>German</li>
    </ul>
  </div>
  <p>facebook &copy; 2019</p>
</footer>
{% endblock content %}
